h1
{
    text-align: center;
    background-color: rgb(14, 10, 5);
    height: 100px;
    color: darkgray;
    
}

div{
    margin-top: 10px;
    margin-bottom: 10px;
} 

div h1{
    padding-top: 20px;
    padding-bottom: 10px;
}